/*
Theme Name: Guri Faminto
Author: Raphael Esteves
Author URI: www.raphaelesteves.com.br
Description: Os melhores lanches da cidade você encontra. Lanche para toda fome!
Tags: lanchonete, delivery, lanches, hamburguer, refrigerante, pizza, salgado, combo, guri, faminto
Version: 1.0
*/

body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    
}
header, footer{
    height: 50px;
    background-color: #F58634;   
}

main{  
    
    background-color: #333;
    color: #fff;
   
}

section h1{
    font-size: 3rem;
    padding: .5rem 0;
}

h2{
    font-size: 2rem;
    padding: .5rem 0;
}

h3 {
    font-style: italic;
    font-size: .8rem;
    padding-bottom: .5rem;
}
h4 {
    font-size: 1rem;
    word-break: break-all;
    line-height: 1.5rem;

}

header a{
    font-size: 2rem;
}

.card-post{  
    padding: 2em 1em;
    color: #fff;
    text-decoration: underline;
    width: 500px;
    margin:auto;
}

.card-post a{
    color: #F58634;
 }

 .menu{
    display: flex;
    gap: 10px;
    font-size: 2em;
}

.current_page_item a{
    color: red;
}


